.env
__pycache__/
*.pyc
output/*.csv
output/*.json
!output/.gitkeep
.venv/
venv/
data/*.csv
data/
*.Rmd
*.tex
*.pdf
notebooks/.ipynb_checkpoints/boxplots_horaires-checkpoint.ipynb
notebooks/.ipynb_checkpoints/exploration-checkpoint.ipynb
notebooks/.ipynb_checkpoints/modelisation-checkpoint.ipynb
